<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <!-- * this is the correct path that we need to enter to see the svg -->
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy to start & manage updates</h3>
        <p>Our cloud plans include easy onboarding for new and existing sites and managed WordPress and WooCommerce
            auto-updates. </p>
    </div>
</div>